<nav>
  <a routerLink="/adduser">Add user</a>
</nav>

<table border = "/1">
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor= "let value of user">
    <td>{{value.id}}</td>
    <td>{{value.firstName}}</td>
    <td>{{value.lastName}}</td>
    <td>{{value.email}}</td>
    <td><button class="btn btn-success" (click)="delete(value)">Delete</button></td>
    <td><button class="btn btn-success" (click)="editdata(data)">Edit</button></td>
    
  </tr>
</table>
<br>
<br>

