<h2>CREATE USER</h2>
<form  [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="border">
        <div class="form-group">
            First Name:<input class="form-control" formControlName="firstName">
        </div>
        <div *ngIf="createForm.controls['firstName'].invalid && (createForm.controls['firstName'].dirty || createForm.controls['firstName'].touched)"
            class="alert alert-danger">
            <div *ngIf="createForm.controls['firstName'].errors.required">
                First Name is required.
            </div>
        </div>
        <div class="form-group">
            Last Name:<input class="form-control" formControlName="lastName">
        </div>
        <div *ngIf="createForm.controls['lastName'].invalid && (createForm.controls['lastName'].dirty || createForm.controls['lastName'].touched)"
            class="alert alert-danger">
            <div *ngIf="createForm.controls['lastName'].errors.required">
                Last Name is required.
            </div>
        </div>
        <div class="form-group">
            Email:<input class="form-control" formControlName="email">
        </div>
        <div *ngIf="createForm.controls['email'].invalid && (createForm.controls['email'].dirty || createForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="createForm.controls['email'].errors.required">
                Email is required.
            </div>
            <div *ngIf="createForm.controls['email'].errors.email">
                Email is required.
            </div>
        </div>

        <button type="submit" [disabled]="createForm.pristine || createForm.invalid" class="btn btn-success">
            Add Account
        </button>
    </div>
</form>


<!-- <router-outlet></router-outlet> -->